.title {
    font-size: xx-large;
    font-weight: 700;
}
.subTitle {
    font-size: x-large;
    font-weight: 600;
}
.headerProject {
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid rgb(222, 215, 215);
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
}


.mainProject {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-top: 16px;
}
