body {
  margin: 0;
  overflow: hidden;
}

.layOut {
   height: 100vh;
   display: flex;
}

.SideBar {
   flex: 1; 
   overflow-y: auto;
   background-color: #021027;
   opacity: 0.9;
   flex-direction: column;
   justify-items: center;
   align-items: center;
}
.MainContent {
    flex:4;
    overflow-y: auto;
    background-color: #021027;
    border: 1px solid rgba(255, 255, 255, 0.15)
}

.RightPanel {
    flex:1.5;
    overflow-y: auto;
    background-color: #021027;
    opacity: 0.9;

}

.sideBarOption {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: row;
    color: white;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.8;
    width: 100%;
    padding-left: 40px;
    gap: 12px;
    align-items: center;
    height: 80px;
}

.sideBarOption:hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
    color: #5d97f4
}