body {
  margin: 0;
  overflow: hidden;
}

.layOut {
   height: 100vh;
   display: flex;
}

.SideBar {
   flex: 1.2;
   display: flex; 
   overflow-y: auto;
   background-color: #021027;
   opacity: 0.95;
   flex-direction: column;
   justify-items: center;
   align-items: center;
}


.sideBarOption {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: row;
    color: white;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    opacity: 0.8;
    width: 100%;
    padding-left: 40px;
    gap: 12px;
    align-items: center;
    height: 50px;
}

.sideBarOption:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.05);
}

.activate{
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    opacity: 1;
    background: rgba(255, 255, 255, 0.2);
}


.RightPanel {
    flex:1.5;
    overflow-y: auto;
    background-color: #021027;
    opacity: 0.95;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    padding: 16px;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    width: 100%;
}

.friendChat {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: larger;
    font-weight: 400;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    
}

.chat {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: medium;
    font-weight: 400;
}

.friendChat:hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}

.MainContent {
    flex:4.5;
    overflow-y: auto;
    background-color: #021027;
    border: 1px solid rgba(255, 255, 255, 0.15)
}

.expandMain .RightPanel {
  display: none;
}

.expandMain .MainContent {
  flex: 6.15;
}