body {
  margin: 0;
  overflow: hidden;
}

.layOut {
   height: 100vh;
   display: flex;
}

.SideBar {
   position: relative;
   flex: 1.2;
   display: flex; 
   overflow-y: auto;
   background-color:  #FFFFFF;
   opacity: 0.95;
   flex-direction: column;
   justify-items: center;
   align-items: center;
   border: 1px solid #e2e8f0;
   padding: 12px;
   padding-top: 20px;
   gap: 4px;
}


.sideBarOption {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: row;
    color: #475569;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    width: 100%;
    padding-left: 40px;
    gap: 12px;
    align-items: center;
    height: 50px;
    border-radius: 12px;
}

.sideBarOption:hover {
    opacity: 1;
    background-color: #eef1f4;
}

.activate{
    opacity: 1;
    background: #c8ddf0;
    color: #3B82F6;
}


.RightPanel {
    flex:1.5;
    overflow-y: auto;
    background-color:  #FFFFFF;
    opacity: 0.95;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    padding: 16px;
    border: 1px solid #e2e8f0;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    width: 100%;
}

.friendChat {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: larger;
    font-weight: 400;
    width: 100%;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.chat {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: medium;
    font-weight: 400;
}

.friendChat:hover{
    opacity: 1;
    background-color: #eef1f4;
    border-radius: 15px;
}

.MainContent {
    flex:4.5;
    overflow-y: auto;
    background-color: #F8FAFC;
    border: 1px solid #e2e8f0;
    padding: 24px;
}

.expandMain .RightPanel {
  display: none;
}

.expandMain .MainContent {
  flex: 6.15;
}

.profileContainer {
    color: #1E293B;
    font-size: small;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 230px;
    height: 90px;
    border-radius: 16px;
    border: 1px solid #dee2eb;
    padding: 4px;
    gap: 8px;

    position: absolute;
    bottom: 100px;
    left: 10px;
    cursor: pointer;
}

.stars {
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.4);
    border: 1px solid #3B82F6;
}

.buttonLogOut {
    display: inline-block;
    opacity: 0.8;
    color: aliceblue;
    background-color: #e71a1a;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.buttonLogOut:hover{
    opacity: 1;
}
