.mainNavigator {
   position: relative;
   display: flex;
   flex-direction: row;
   gap: 8px;
   justify-content: space-between;
   align-items: center;

   height: 120px;
   background-color: #021027;
   overflow: hidden;

   padding-left: 24px;
   padding-right: 30px;

   opacity: 0.95;
   border: 1px solid rgba(255, 255, 255, 0.15)
}

.navigatorItem {
   color: white;
   font-weight: 400;
   font-size: larger;
}

.sologan {
   display: flex;
   flex-direction: column;
   gap: 4px;
   color: white;
   font-weight: 650;
   font-size:x-large;  
   width: 250px;
}

.user {
   background: linear-gradient(to top right, blue, purple);
   font-size:xx-large;
   font-weight: 700;
   display: flex;
   flex-direction: row;
   -webkit-background-clip:text;
   -webkit-text-fill-color: transparent;
   gap: 2px;
   justify-items: center;
   align-items: center;
   height: 80px;
}

.search {
   display: flex;
   flex-direction: row;
   gap: 2px;
   background-color: rgba(255,255,255,0.1);
   color: white;
   padding: 8px;
   width: 250px;
   height: 40px;
   border-radius: 15px;
   justify-items: center;
   align-items: center;
   opacity: 0.6;
}

.search:hover {
   opacity: 1;
}

.button {
    background: blueviolet;
    color:white;
    font-size: large;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.button:hover{
    background-color: white;
    color: blueviolet;
}