.headerContainer {
    display: flex;
    justify-content: start;
    gap: 6px;
    flex-direction: column;
}

.headerTitle {
    color: #343538;
    font-size: 40px;
    font-weight: 750;
}

.headerText {
    color: #5e6165;
    font-size: xx-large;
    font-weight: 700;
}

.note {
    color: #8a9bb2;
    font-size: medium;
    font-weight: 400;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 36px;
    border-radius: 15px;
    border: 1px solid #e2e8f0;
    overflow-wrap: break-word;
    white-space: normal;
}

.highlight {
  display: inline-block;
  background: #ffd54f;
  padding: 4px 8px;
  border-radius: 6px;
}

.highlightTitle{
  display: inline-block;
  background: #3B82F6;
  color: aliceblue;
  padding: 4px 8px;
  border-radius: 6px;
}

.widget {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: start;
    color: black;
    width: 320px;
    height: 210px;
    border-radius: 16px;
    border: 2px solid #8bb8f3;
    padding: 8px;
    gap: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.widget:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    /* box-shadow: offset-x offset-y blur-radius color; */
}

.widgetTitle {
    color: #1E293B;
    font-size: large;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.button {
    display: inline-block;
    opacity: 0.8;
    color: aliceblue;
    background-color: #34b22f;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.buttonBack {
    display: inline-block;
    opacity: 0.8;
    color: aliceblue;
    background-color: #e71a1a;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.button.buttonBack:hover {
    opacity: 1;
}

.input {
    color: #5e6165;
    border-radius: 15px;
    border: 2px solid #8bb8f3;
    text-align: start;
    font-size: medium;
    font-weight: 400;
    padding: 12px;
}